<!-- Featured Post -->
{{ $data := index .Site.Data .Site.Language.Lang }}
<article class="post featured">
    <header class="major">
        <span>{{ .Params.author }}</span>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    </header>

    {{ if .Description }}
    <p>{{ .Description }}</p>
    {{ else }}
    <p>{{ .Summary }}</p>
    {{ end }}

    {{ if .Params.image }}
    <a href="{{ .Permalink }}" class="image main"><img src="{{ path.Join .Section .Params.image | relURL }}" alt="Story image for {{ .Title }} by {{ .Params.author}}" title="Story image for {{ .Title }} by {{ .Params.author}}" /></a>
    {{ end }}

    <ul class="actions">
        <li><a href="{{ .Permalink }}" class="button big">
        {{ if .Params.morelink }}
            {{ .Params.morelink }}
        {{ else }}
            {{ $data.post.linktext }}
        {{ end }}
        </a></li>
    </ul>
</article>