{{ partial "htmlhead" . }}
	<body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

                {{ partial "header" . }}
                {{ partial "nav" . }}

				<!-- Main -->
					<div id="main">
                        <section class="post">
                            <header class="major">
                                <img src="{{ "/images/toplist.png" | safeURL }}" />
                                <h1>{{ .Title }}</h1>
                                <p>{{ .Params.author }}</p>
                                <img src="{{ "/images/divider.png" | safeURL }}" />
                            </header>
                            {{ if .Params.image }}
                            <div class="image main">
                                <img src="{{ .Params.image | safeURL }}" alt="" />
                            </div>
                            {{ end }}
                            {{ .Content }}
                            <p>{{ .Params.copyright }}</p>

                            {{ partial "stockcustom" . }}
                            

                        </section>

					</div>

                    {{ partial "copyright" . }}

            </div>
            {{ template "_internal/google_analytics.html" . }}
            {{ partial "scripts/index" . }}
	</body>
</html>
