<!DOCTYPE HTML>
<html lang='{{ .Site.Language.Lang | default "en-us" }}'>
  {{ partial "htmlhead" . }}

  <body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      {{ partial "header" . }}
      {{ partial "nav" . }}

      <!-- Main -->
      <div id="main">
        <section class="post">
            <header class="major">
              <img src="{{ "/images/toplist.svg" | safeURL }}" />
              <h1>{{ .Title }}</h1>
              <p>{{ .Params.author }}</p>
              <img src="{{ "/images/divider.svg" | safeURL }}" />
            </header>
            
            {{ if .Params.image }}
            <div class="image main">
              <img src="{{ path.Join .Section .Params.image | relURL }}" alt="Story image for {{ .Title }} by {{ .Params.author }}" title="Story image for {{ .Title }} by {{ .Params.author }}"/>
            </div>
            {{ end }}

            {{ .Content }}
            
            {{ if .Params.showAuthorFooter }}
              {{ partial "authorfooter" . }}
            {{ end }}
            
            <p class="align-center">
                <img src="{{ "/images/divider.svg" | safeURL }}" />
            </p>
            <p><strong>Mythaxis</strong> is forever free to read, but if you'd like to support the magazine you can do so <a href="https://ko-fi.com/mythaxismagazine">here</a> (but only if you <em>really</em> want to!)</p>


        </section>
      </div>

      {{ partial "copyright" . }}
      <a href="#navPanel" id="navPanelToggle">{{ i18n "NAV_MENU" . }}</a>
    </div>

    {{ template "_internal/google_analytics.html" . }}
    {{ partial "scripts/index" . }}
  </body>
</html>
