<!DOCTYPE HTML>
<html lang='{{ .Site.Language.Lang | default "en-us" }}'>
  {{ partial "htmlhead" . }}

  <body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-preload">
    {{/*
      stock/single.html (Story Page)

      Routes to appropriate story partial based on parent issue's layout param.
      Stories inherit layout from their parent issue.
    */}}
    {{ $layout := partial "functions/resolveLayout.html" . }}

    {{ if eq $layout "nebula2026" }}
      {{/* New design story page */}}
      {{ partial "nebula2026/story-page.html" . }}
    {{ else }}
      {{/* Legacy design story page (default) */}}
      {{ partial "horizon2020/story-page.html" . }}
    {{ end }}
  </body>
</html>
