{{/*
  Horizon2020 Theme - Styles Partial
  ==================================
  Dynamic CSS injection for the classic Mythaxis theme.
  
  Expects context from theme-dispatch:
    .Page    - The current page context
    .Section - The current section (from getCurrentTheme)
    .Theme   - The theme name
    .Data    - Any extra data passed
*/}}

{{- $section := .Section -}}

{{/* Load horizon2020 complete theme styles (includes base styles) */}}
<link rel="stylesheet" href='{{ "themes/horizon2020.css" | relURL }}' />

{{/* Dynamic background and intro customization */}}
<style type="text/css">
	#wrapper > .bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: 
			linear-gradient(0deg,
				rgba(255,255,255,1) 5%,
				rgba(255,255,255,0.50) 10%,
				rgba(255,255,255,0) 20%
			)
			,
			url({{ $section.Params.image }});
		background-size: auto, 100% auto;
		background-position: bottom, top center;
		background-repeat: no-repeat, no-repeat;
		background-attachment: no-scroll, scroll;
	}

	{{ if $section.Params.imageMobile }}
	@media screen and (max-width: 980px) {
		#wrapper > .bg {
		    background-image: url({{ $section.Params.imageMobile }});
		}
	}
	@media screen and (max-width: 500px) {
		#wrapper > .bg {
			background-size: cover;
		}
	}{{ end }}

	{{ with $section.Params.intro }}
		{{ with .logo }}
		#intro h1 {
			{{ with .font_family }}font-family: {{ . }};{{ end }}
			{{ with .color }}color: {{ . }};{{ end }}
		}
	{{ end }}

	@media screen and (min-width: 736px) {
		#intro {
			display: flex;
			flex-direction: column;
			{{ with .justify_content }}justify-content: {{ . }};{{ end }}
			{{ with .align_items }}align-items: {{ . }};{{ end }}
			{{ with .align_content }}align-content: {{ . }};{{ end }}
		}
		{{ with .logo }}
		#intro h1 {
			{{ with .order }}order: {{ . }};{{ end }}
			{{ with .flex_grow }}flex-grow: {{ . }};{{ end }}
			{{ with .align_self }}align-self: {{ . }};{{ end }}
			{{ with .align_items }}align-items: {{ . }};{{ end }}
		}
		{{ end }}

		{{ with .subheading }}
		#intro > h2 {
			{{ with .order }}order: {{ . }};{{ end }}
			{{ with .flex_grow }}flex-grow: {{ . }};{{ end }}
			{{ with .align_self }}align-self: {{ . }};{{ end }}
			{{ with .align_items }}align-items: {{ . }};{{ end }}
		}
		{{ end }}
		
		{{ with .actions }}
		#intro ul.actions {
			{{ with .display }}display: {{ .}};{{ end }}
			{{ with .order }}order: {{ . }};{{ end }}
			{{ with .flex_grow }}flex-grow: {{ . }};{{ end }}
			{{ with .align_self }}align-self: {{ . }};{{ end }}
			{{ with .align_items }}align-items: {{ . }};{{ end }}
		}
		{{ end }}
	}{{ end }}
</style>
