<!DOCTYPE html>
<html>

<head>
  <link href="css/style.css" rel="stylesheet">
  <style>
    pre {
      white-space: pre-wrap;       /* Since CSS 2.1 */
      white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
      white-space: -pre-wrap;      /* Opera 4-6 */
      white-space: -o-pre-wrap;    /* Opera 7 */
      word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
  </style>
</head>

<body>
	<h1>{{ .Title }}</h1>
  <p>{{ .Content }}</p>


{{ $allAuthors := slice }}

{{ range where .Site.Pages "Type" "author" }}
  {{ $author := dict
      "name" .Params.Name
      "relurl" .RelPermalink
  }}
  {{ $allAuthors = $allAuthors | append $author }}
{{ end }}

{{ range (index .Site.Data "xway2-metadata") }}
    {{ $author := dict
      "name" .author
      "relurl" ""
  }}
  {{ $allAuthors = $allAuthors | append $author }}
{{ end }}




----
<h2>authors</h2>
Full count: {{ len $allAuthors }}<br/>
Number of authors: {{ len ($allAuthors | uniq)}}



<ul>
  {{ range ($allAuthors | uniq) }}
    <li>
      {{ if .relurl }}
        <a href="{{ .relurl }}">{{ .name }}</a>
      {{ else }}
        {{ .name }}
      {{ end }}
      ({{ len (where $allAuthors "name" .name) }})
    </li>
  {{ end }}
</ul>













</body>

</html>
