<!DOCTYPE HTML>
<html lang='{{ .Site.Language.Lang | default "en-us" }}'>
  {{ partial "htmlhead" . }}

  <body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-preload">
    {{/*
      section.html (Issue Landing Page)

      Routes to appropriate issue landing partial based on issue's layout param.
    */}}
    {{ $layout := partial "functions/resolveLayout.html" . }}

    {{ if eq $layout "nebula2026" }}
      {{/* New design issue landing */}}
      {{ partial "nebula2026/issue-landing.html" . }}
    {{ else }}
      {{/* Legacy design issue landing (default) */}}
      {{ partial "horizon2020/issue-landing.html" . }}
    {{ end }}
  </body>
</html>
