<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="css/style.css" rel="stylesheet">
</head>

<body>
 This is the section list template
 {{ $idx := .Site.GetPage (print .Section "/__index.md") }}

{{ with $idx }}
  <h1>{{ .Title }}</h1>
  {{ .Params }}<br />
  {{ .Params.image }}
{{ end }}

 	<ul class="nav nav-pills nav-stacked">
      {{ range (where .Site.Pages "Section" .Section) }}
        <li><a href="{{ .Permalink }}">{{ .Permalink }}</a></li>
      {{ end }}
    </ul>
}
}
</body>

</html>