{{ $showFooter := (default true .Params.showAuthorFooter) }}
{{ if $showFooter }}
	{{ $authors := where .Site.Pages "Type" "author" }}
	{{ $stock := . }}

	{{ if .Params.authors }}
		{{ range .Params.authors }}
			{{ range where $authors ".Params.name" . }}
				<footer class="row author">
					<h3>{{ .Params.name }}</h3>
					<p>
						{{ if fileExists (path.Join .Section .Params.photo | relURL) }}
						<span class="image left"><img src="{{ path.Join .Section .Params.photo | relURL }}" alt="Author image of {{ .Params.name }}" title="Author image of {{ .Params.name }}"></span>
						{{ end }}
					
						{{ .Params.description | markdownify }}</p>
					<p>{{ $stock.Params.copyright | default .Params.copyright }}</p>
					<p>{{ $stock.Params.imageCopyright | markdownify }}</p>
				</footer>
			{{ end }}
		{{ end }}
	{{ end }}
{{ end }}