<link rel="stylesheet" href='{{ "assets/css/overrides.css" | relURL }}' />
<style type="text/css">
	#wrapper > .bg {
	    background-image: url({{ "/images/overlay.png" | relURL }}),
	    	linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
	    	url({{ .Site.BaseURL }}{{ path.Join .Section .Params.image | relURL }});
	}

	{{ if .Params.imageMobile }}
	@media screen and (max-width: 810px) {
		#wrapper > .bg {
		    background-image: 
		    url({{ "/images/overlay.png" | relURL }}),
		    	linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
		    	url({{ .Site.BaseURL }}{{ path.Join .Section .Params.imageMobile | relURL }});
		    	background-size: auto, auto, 100%;
		}
	}{{ end }}

	{{ with .Params.intro }}
		{{ with .logo }}
		#intro h1 {
			{{ with .font_family }}font-family: {{ . }};{{ end }}
			{{ with .color }}color: {{ . }};{{ end }}
		}
	{{ end }}

	@media screen and (min-width: 736px) {
		#intro {
			display: flex;
			flex-direction: column;
			{{ with .justify_content }}justify-content: {{ . }};{{ end }}
			{{ with .align_items }}align-items: {{ . }};{{ end }}
			{{ with .align_content }}align-content: {{ . }};{{ end }}
		}
		{{ with .logo }}
		#intro h1 {
			{{ with .order }}order: {{ . }};{{ end }}
			{{ with .flex_grow }}flex-grow: {{ . }};{{ end }}
			{{ with .align_self }}align-self: {{ . }};{{ end }}
			{{ with .align_items }}align-items: {{ . }};{{ end }}
		}
		{{ end }}

		{{ with .subheading }}
		#intro > h2 {
			{{ with .order }}order: {{ . }};{{ end }}
			{{ with .flex_grow }}flex-grow: {{ . }};{{ end }}
			{{ with .align_self }}align-self: {{ . }};{{ end }}
			{{ with .align_items }}align-items: {{ . }};{{ end }}
		}
		{{ end }}
		
		{{ with .actions }}
		#intro ul.actions {
			{{ with .display }}display: {{ .}};{{ end }}
			{{ with .order }}order: {{ . }};{{ end }}
			{{ with .flex_grow }}flex-grow: {{ . }};{{ end }}
			{{ with .align_self }}align-self: {{ . }};{{ end }}
			{{ with .align_items }}align-items: {{ . }};{{ end }}
		}
		{{ end }}
	}{{ end }}
</style>
