{{/* Infer current section and lookup __index.md params for theming */}}
{{ $currSection := .Section | default (urlize .Site.Params.currentIssue) }}
{{ $currSection := .Site.GetPage "section" (print $currSection "/__index.md") }}

{{ with $currSection }}
<div id="intro">
    <h1>Mythaxis</h1>
    <h2>{{ .Params.subhead }}</h2>
    <p>{{ .Params.headline }}</p>
    <ul class="actions">
        <li><a href="#header" class="button icon solo fa-arrow-down scrolly">{{ i18n "INTRO_CONTINUE" . }}</a></li>
    </ul>
</div>
{{ end }}
