<!-- Default Nav for sections-->
{{ $data := index .Site.Data .Site.Language.Lang }}
<nav id="nav">
    <ul class="links">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ $active := eq $currentPage.RelPermalink .URL }}
            {{ $newactive := or ($currentPage.IsMenuCurrent "nav" .) ($currentPage.HasMenuCurrent "nav" .) }}
            {{ $active = or $active (eq .Name $currentPage.Title) }}
            {{ $active = or $active (and (eq .Name "Contents") (eq $currentPage.Type "stock")) }}
            <li {{ if $active }}class="active"{{ end }}>
                <a href="{{ .URL }}" class="{{ if $active }}active{{ end }}">
                    <span>{{ .Name }}</span>
                </a>
            </li>
        {{ end }}
    </ul>
</nav>
