<!-- Nav -->
{{ $data := index .Site.Data .Site.Language.Lang }}
<nav id="nav">
    <ul class="links">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ $active := in (strings.TrimLeft "/" $currentPage.RelPermalink) .URL }}
        {{ $active = or $active (and (eq .Name "Home") (eq $currentPage.RelPermalink .URL)) }}
        <li {{ if $active }}class="active"{{ end }}>
            <a href="{{ .URL }}">
                <span>{{ .Name }}</span>
            </a>
        </li>
        {{ end }}
    </ul>
</nav>
