{{/*
  index.html (Frontpage)

  Routes to appropriate frontpage partial based on currentIssue's layout.
  Adapts to match the layout of whatever issue is set as current.
*/}}
{{/* Get current issue from site config */}}
{{ $currentIssue := .Site.GetPage (printf "/%s" (urlize .Site.Params.currentIssue)) }}

{{/* Resolve which layout the current issue uses */}}
{{ $layout := partial "functions/resolveLayout.html" $currentIssue }}

{{/* Route to appropriate frontpage partial */}}
{{ if eq $layout "nebula2026" }}
  {{/* New design frontpage */}}
  {{ partial "nebula2026/frontpage.html" . }}
{{ else }}
  {{/* Legacy design frontpage (default) */}}
  {{ partial "horizon2020/frontpage.html" . }}
{{ end }}
