<!-- Posts -->
{{ $data := .siteData }}
<section class="posts">
    {{ range .posts.Pages }}
    <article>
        <header>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <span>{{ .Params.author }} </span>
        </header>
        {{ if .Params.image }}
        <a href="{{ .Permalink }}" class="image fit"><img src="./{{ .Section }}/{{ .Params.image }}" alt="" /></a>
        {{ end }}
        {{ if .Description }}
        <p>{{ .Description }}</p>
        {{ else }}
        <p>{{ .Summary }}</p>
        {{ end }}
        <ul class="actions">
            <li><a href="{{ .Permalink }}" class="button">
                {{ if .Params.morelink }}
                    {{ .Params.morelink }}
                {{ else }}
                    {{ $data.post.linktext }}
                {{ end }}
            </a></li>
        </ul>
    </article>
    {{ end }}
</section>
