{{/*
  The code below merges two datasources, the site's genre taxonomy and
  the xway back catalogue, presenting the results as a browsable index of genres.
*/}}
{{ $genreIndex := slice }}
{{ $genreTaxonomy := .Site.Taxonomies.genres }}
{{ $xway2metadata := where (index .Site.Data "xway2metadata") "genre" "ne" nil }}

{{/* Generate unique term name list from the two data sources */}}
{{ $allGenres := slice }}
{{ range $tag, $items := $genreTaxonomy }}
  {{ $allGenres = $allGenres | append $tag }}
{{ end }}
{{ range $xway2metadata }}
  {{ $allGenres = $allGenres | append .genre }}
{{ end }}
{{ $allGenres = $allGenres | uniq}}


{{/* Build the genre dictionary and load it up with the stories. */}}
{{ range $allGenres }}

  {{/* Gather all stories tagged with this term into a single stocklist */}}
  {{ $genreStockItems := slice }}
  {{ range (index $genreTaxonomy .) }}
    {{ $item := dict
      "title" .Title
      "relurl" .RelPermalink
      "author" (collections.Delimit .Params.authors " and ")
    }}
    {{ $genreStockItems = $genreStockItems | append $item }}
  {{ end }}

  {{ range (where $xway2metadata "genre" "eq" .)  }}
    {{ $item := dict
        "title" .title
        "relurl" .relurl
        "author" .author
    }}
    {{ $genreStockItems = $genreStockItems | append $item }} 
  {{ end }}
  {{ $genreStockItems = sort $genreStockItems "title" "asc" }}

  {{ $genreIndex = merge $genreIndex (dict . $genreStockItems) }}
{{ end }}



<!DOCTYPE HTML>
<html lang='{{ .Site.Language.Lang | default "en-us" }}'>
  {{ partial "htmlhead" . }}
  
  <body lang='{{ .Site.Language.Lang | default "en-us" }}' class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      {{ partial "header" . }}
      {{ partial "nav" . }}

      <!-- Main -->
      <div id="main">
        <section class="post catalogue">
            <header class="major">
              <img src="{{ "/images/toplist.svg" | safeURL }}" />
              <h1>{{ .Title }}</h1>
              <p>{{ len $allGenres }} {{ .Description }}</p>
            </header>
            {{ partial "catalogue-nav" . }}
            {{ .Content }}


allgenres
{{ $allGenres }}



            {{ range $genre, $items := $genreIndex }}
            <h2 id="{{ $genre }}">{{ $genre | strings.Title }} ({{ len $items }})</h2>
            <ul>
            {{ range $items }}
              <li><a href="{{ .relurl | relURL }}">{{ .title }}</a> by {{ .author }}</li>
            {{ end }}
            </ul>
            {{ end }}



            {{ partial "catalogue-nav" . }}
        </section>
      </div>
      
      {{ partial "copyright" . }}
      <a href="#navPanel" id="navPanelToggle">{{ i18n "NAV_MENU" . }}</a>
    </div>

    {{ template "_internal/google_analytics.html" . }}
    {{ partial "scripts/index" . }}
  </body>
</html>