# Deploy to github pages
name: Publish to Github pages

on:
  push:
    branches:
      - master  # Set branch to deploy html to

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build hugo site (incl. drafts and future)
        env:
          HUGO_BASE_URL: ${{ secrets.GHPAGES_BASEURL }}
        run: hugo -DF ${HUGO_BASE_URL}

      - name: Deploy ./docs to gh-pages branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs